
.navigationList {
    font-size: 14px;
    margin-right: 50px;
    padding: 0px 7px ;
    /* border-radius: 10px; */
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(5, 34, 75, 0.614);

}

li.navigationList.active {
    /* background-color: #15023a; */
    /* color: white; */
    border-bottom: 7px solid #1169a4;
    /* border: 1px solid black; */
  }

