/* Style for the form container */
.form-container {
    
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group{
    padding: 10px;
    padding-right: 10px;
  }

  .form-group label{
    font-weight: 500;
  }
  /* Style for form input fields */
.form-group  input[type="text"],
.form-group  input[type="email"],
.form-group  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style for the submit button */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #144375;
  }
  

  /* image */
  .contact-img{
    align-items: center;     
    justify-content: center;
    display: flex;
  }

  .contact-img img{
    width: 30rem;   
    align-items: center;
    animation: mover 2s infinite  alternate;
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
  .container.contact__container{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 50% auto;
    /* gap: 12%; */
    /* background-color: rgb(6, 22, 55); */
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 2rem;
}


.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: #86C1E9;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
}

.contact__option:hover {
    background: transparent;
    border-color: #f9f9f9;
    color: #edeaea;
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    color: #e9eded;
}

/* ========================= FORM ============================= */
.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


/* ================= Media QUERIES (MEDIUM DEVICE) ================= */
@media screen and (max-width: 1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* ================= Media QUERIES (SMALL DEVICE) ================= */
@media screen and (max-width: 600px) {
    .container.contact__container{
        width: var(--container-width-sm);
    }
}